<mat-toolbar>
  <div fxFlex fxLayout fxLayoutAlign="start center">
    <img class="logo" src="/assets/images/logo.png"/>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center center">
    <h2>{{title}}</h2>
  </div>
  <div fxFlex fxLayout fxLayoutGap="20px" fxLayoutAlign="end center">
    <span *ngIf="!loggedIn"><mat-icon matTooltip="Please signin first">lock</mat-icon></span>
    <ul *ngIf="loggedIn" fxLayout fxLayoutGap="10px" class="navigation-items">
      <li [matMenuTriggerFor]="menuAccount" class="menu-account">
        <div fxFlex fxLayout fxLayoutAlign="end center">
          <mat-icon>account_circle</mat-icon>
          <span fxHide.lt-md class="user-name">{{user.username}}</span>
          <mat-icon fxHide.lt-md>expand_more</mat-icon>
        </div>
        <mat-menu #menuAccount="matMenu">
          <mat-nav-list>
            <a mat-list-item>
              <mat-icon class="menu">person</mat-icon>
              <span>Profile</span>
            </a>
            <a mat-list-item>
              <mat-icon class="menu">info</mat-icon>
              <span>About</span>
            </a>
            <a mat-list-item>
              <mat-icon class="menu">help</mat-icon>
              <span>Contact</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="signout()">
              <mat-icon class="menu">exit_to_app</mat-icon>
              <span>Signout</span>
            </a>
          </mat-nav-list>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
