@import '../../../styles/viriciti';

.mat-toolbar {
  height: 52px;
  color: #fff;
  border-bottom: 2px solid $viricity-dark;
}

.logo {
  height: 26px;
}

.signout {
  margin-top: 10px;
  cursor: pointer;
}

.navigation-items {
  .menu-account {
    font-size: 16px;
    cursor: pointer;
  }

  .user-name {
    font-size: 16px;
    padding-left: 10px;
  }
}

.menu {
  color: #617E4E;
  margin-right: 10px;
}

