.mat-toolbar {
  background-color: #617E4E;
  color: #fff;
  border-bottom: 2px solid #000;
}

.mat-icon {
  //color: #fff;
}

.menu-button {
  margin-right: 15px;
}

.signout {
  margin-top: 10px;
  cursor: pointer;
}
