mat-card {
  margin-top: 50px;
  width: 500px;
  padding: 0;
}

mat-form-field {
  width: 100%;
}

.mat-card-header {
  background-color: #7CA363;
  color: #fff;
  padding-top: 10px;
}

form {
  margin-top: 10px;
  padding: 40px;
}

button[type=submit] {
  background-color: #7CA363;
}
