$viriciti-green: #7ca363;
$viricity-dark: #6a6a6a;

$viriciti-primary-palette: (
    50 : #eff4ec,
    100 : #d8e3d0,
    200 : #bed1b1,
    300 : #a3bf92,
    400 : #90b17a,
    500 : #7ca363,
    600 : #749b5b,
    700 : #699151,
    800 : #5f8847,
    900 : #4c7735,
    A100 : #d8ffc5,
    A200 : #b6ff92,
    A400 : #94ff5f,
    A700 : #83ff46,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$viriciti-secondary-palette: (
  50 : #ebe5eb,
  100 : #ccbdcc,
  200 : #aa91ab,
  300 : #886589,
  400 : #6f446f,
  500 : #552356,
  600 : #4e1f4f,
  700 : #441a45,
  800 : #3b153c,
  900 : #2a0c2b,
  A100 : #f969ff,
  A200 : #f736ff,
  A400 : #f503ff,
  A700 : #df00e8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
