<section fxLayoutAlign="center">
  <mat-card class="mat-elevation-z8">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <label for="username"></label>
          <input #username
                 id="username"
                 type="text"
                 matInput
                 placeholder="Username"
                 formControlName="username">
          <mat-error>{{getError('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label for="password"></label>
          <input #password
                 id="password"
                 type="password"
                 matInput
                 placeholder="Password"
                 formControlName="password">
          <mat-error>{{getError('password')}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutGap="20px" fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
        <button mat-button routerLink="/signin">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
