<div class="page-header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
  <mat-icon>home</mat-icon>
  <span class="title">{{title}}</span>
</div>

<p class="description">Time to do something fun and exciting.</p>

<div class="mat-elevation-z4">

  <div class="header-row">
    <form [formGroup]="form" fxLayout fxLayoutGap="10px" fxLayoutAlign="space-between center" (ngSubmit)="onSubmit()">
      <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-form-field>
          <mat-select formControlName="vehicle" placeholder="Vehicle">
            <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
              {{vehicle.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <label for="from-date"></label>
          <input id="from-date" matInput [min]="minDate" [max]="maxDate" formControlName="fromDate"
                 [matDatepicker]="fromDate"
                 placeholder="From" readonly>
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate [startAt]="minDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <label for="to-date"></label>
          <input id="to-date" matInput [min]="minDate" [max]="maxDate" formControlName="toDate" [matDatepicker]="toDate"
                 placeholder="To" readonly>
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker #toDate [startAt]="minDate"></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="center center">
        <mat-radio-group [class.hidden]="loading || !values || !values.length">
          <mat-radio-button class="unit"
                            *ngFor="let unit of units; let idx = index" [value]="unit"
                            [checked]="idx === 0" (change)="unitChanged($event)">{{unit}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="end center">
        <mat-form-field class="filter" [class.hidden]="loading || !values || !values.length">
          <input matInput (keyup)="applyFilter($event)"
                 placeholder="Filter">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="form.invalid">Submit</button>
        <button mat-raised-button [disabled]="!values || !values.length" (click)="onDownload()">
          Download
        </button>
      </div>
    </form>
  </div>

  <div [class.hidden]="loading || !values || !values.length">

    <mat-tab-group animationDuration="0">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">table_chart</mat-icon>
          Table
        </ng-template>
        <table mat-table matSort [dataSource]="dataSource">

          <!-- Date column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">{{element.time | formatDate:currentUnit }}</td>
          </ng-container>

          <!-- Time column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            <td mat-cell *matCellDef="let element">{{element.time}}</td>
          </ng-container>

          <!-- Soc column -->
          <ng-container matColumnDef="soc">
            <th mat-header-cell [disabled]="disabledAttribute('soc')" *matHeaderCellDef mat-sort-header>
              <mat-checkbox name="soc" [disabled]="disabledAttribute('soc')" (click)="$event.stopPropagation();"
                            (change)="changeAttribute($event)"
                            class="attribute">
                soc
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.soc | number}}</td>
          </ng-container>

          <!-- Speed column -->
          <ng-container matColumnDef="speed">
            <th mat-header-cell [disabled]="disabledAttribute('speed')" *matHeaderCellDef mat-sort-header>
              <mat-checkbox name="speed" [disabled]="disabledAttribute('speed')" (click)="$event.stopPropagation();"
                            (change)="changeAttribute($event)"
                            class="attribute">
                speed
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">{{element.speed | number}}</td>
          </ng-container>

          <!-- Current column -->
          <ng-container matColumnDef="current">
            <th mat-header-cell [disabled]="disabledAttribute('current')" *matHeaderCellDef mat-sort-header>
              <mat-checkbox name="current" [disabled]="disabledAttribute('current')" (click)="$event.stopPropagation();"
                            (change)="changeAttribute($event)"
                            class="attribute">
                current
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">{{element.current | number}}</td>
          </ng-container>

          <!-- Odo column -->
          <ng-container matColumnDef="odo">
            <th mat-header-cell [disabled]="disabledAttribute('odo')" *matHeaderCellDef mat-sort-header>
              <mat-checkbox name="odo" [disabled]="disabledAttribute('odo')" (click)="$event.stopPropagation();"
                            (change)="changeAttribute($event)"
                            class="attribute">
                odo
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">{{element.odo | number}}</td>
          </ng-container>

          <!-- Voltage column -->
          <ng-container matColumnDef="voltage">
            <th mat-header-cell [disabled]="disabledAttribute('voltage')" *matHeaderCellDef mat-sort-header>
              <mat-checkbox name="voltage" [disabled]="disabledAttribute('voltage')" (click)="$event.stopPropagation();"
                            (change)="changeAttribute($event)"
                            class="attribute">
                voltage
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">{{element.voltage | number}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="pageOptions" showFirstLastButtons></mat-paginator>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">pie_chart</mat-icon>
          Charts
        </ng-template>
        <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" animationDuration="0">
          <mat-tab *ngIf="disabledAttribute('soc')">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">flag</mat-icon>
              SOC
            </ng-template>
            <div class="chart soc">
              <canvas class="chart" id="soc-chart">{{ socChart }}</canvas>
            </div>
          </mat-tab>
          <mat-tab *ngIf="disabledAttribute('speed')">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">speed</mat-icon>
              Speed
            </ng-template>
            <div class="chart speed">
              <canvas class="chart" id="speed-chart">{{ speedChart }}</canvas>
            </div>
          </mat-tab>
          <mat-tab *ngIf="disabledAttribute('current')">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">show_chart</mat-icon>
              Current
            </ng-template>
            <div class="chart current">
              <canvas class="chart" id="current-chart">{{ currentChart }}</canvas>
            </div>
          </mat-tab>
          <mat-tab *ngIf="disabledAttribute('odod')">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">dashboard</mat-icon>
              Odo
            </ng-template>
            <div class="chart odo">
              <canvas class="chart" id="odo-chart">{{ odoChart }}</canvas>
            </div>
          </mat-tab>
          <mat-tab *ngIf="disabledAttribute('voltage')">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">battery_std</mat-icon>
              Voltage
            </ng-template>
            <div class="chart voltage">
              <canvas class="chart" id="voltage-chart">{{ voltageChart }}</canvas>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-tab>

    </mat-tab-group>
  </div>

</div>
<mat-progress-bar class="progress-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
