h2 {
  color: #7CA363;
}

form {
  padding: 10px;
  width: 100%;
}

table {
  width: 100%;

  th,
  td {
    padding-left: 0.5rem;
  }
}

.units {
  white-space: nowrap;
}

.unit {
  margin-right: 1rem;
}

.tab-icon {
  margin-right: 1rem;
}

button[type=submit] {
  background-color: #7CA363;
  color: #fff;
}

mat-icon {
  color: #7CA363;
  font-weight: bold;
}

.mat-radio-button.mat-radio-checked .mat-radio-outer-circle {
  border-color: #7CA363;
}

.mat-radio-button .mat-radio-inner-circle {
  color: #7CA363;
  background-color: #7CA363;
}

.mat-radio-button .mat-radio-ripple .mat-ripple-element {
  background-color: #7CA363;
}
