.page-header {
  padding-top: 1rem;
  color: #7CA363;

  .title {
    font-size: 1.5em;
  }
}

.description {
  margin-top: 0.5rem;
}

form {
  padding: 10px;
  width: 100%;
}

table {
  width: 100%;

  th,
  td {
    padding-left: 0.5rem;
  }
}

.attributes,
.units {
  white-space: nowrap;
}

.attribute,
.unit {
  margin-right: 0.7rem;
}

.tab-icon {
  margin-right: 1rem;
}

button[type=submit] {
  background-color: #7CA363;
  color: #fff;
}

mat-icon {
  color: #7CA363;
  font-weight: bold;
}
