<h2>
  <mat-icon>info</mat-icon>
  About
</h2>
<p>This amazing demo export application was brought to you by Kiffin Gish.</p>

<mat-card>
  <mat-card-title>Instructions</mat-card-title>
  <mat-card-content>
    <ul>
      <li>Select a vehicle from the drop down list.</li>
      <li>Select a start date from the first datepicker.</li>
      <li>Select an end date from the second datepicker.</li>
      <li>Click the submit button to generate the table of results.</li>
      <li>Optionally download a CSV file by clicking the download button.</li>
    </ul>
  </mat-card-content>
</mat-card>

<p>Commissioned by Viriciti as a proof of concept.</p>
