@import '../../../styles/viriciti';

.mat-toolbar {
  height: 52px;
  color: #fff;
  border-top: 2px solid $viricity-dark;
}

.title {
  font-size: 0.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}
